*{
  font-family: 'Raleway';
}

#rojo{
  color: red;
}

.datosIniciales{
  font-size: 14px;
}

input[type=text] {
    border: none;
    border-bottom: 2px solid #707274;
}

input[type="radio"] {
    -webkit-appearance: checkbox; /* Chrome, Safari, Opera */
    -moz-appearance: checkbox;    /* Firefox */
    -ms-appearance: checkbox;     /* not currently supported */
}
